{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "editor.formatOnSave": true
}
